#header .wrapper
    padding: 25px
    z-index: 10

#header a
    text-decoration: none

#header ul
    list-style: none
    li
        margin: 0 7%
        display: inline-block
        a:not(.btn)
            display: block
            text-decoration: none
            padding-bottom: 2px
            border-bottom: 1px solid transparent
            &:hover
                border-color: initial
        a.btn
            padding: 13px 45px
    &.left
        li:first-child
            margin-left: 0
    &.right
        li:last-child
            margin-right: 0

#header svg
    margin: auto
    width: 100%
    height: 95px
    max-width: 212px

#header .promo-bar a:hover
    color: white

@media screen and ( max-width: 1060px )
    #header
        position: sticky
        top: 0
        z-index: 99
        .wrapper
            background: white
            padding: 15px 25px
        svg
            height: 66px
            max-width: 150px

@media screen and ( max-width: 860px )
    #header
        .one-fifth
            width: 40%
        .two-fifths
            width: 30%
        svg
            height: 40px
