section.instagram
    padding-top: 0
    .handle
        padding-bottom: 70px
    .grid-item
        padding: 35px
    @supports (display: -ms-grid) or (display: grid)
        .flex.grid
            grid-gap: 75px
