#menu_drawer
    position: fixed
    width: 100%
    height: auto
    top: 25px
    right: 0
    padding: 15px 25px
    background: white
    z-index: 9
    opacity: 0
    visibility: hidden
    transform: translateY(0)
    transition: .5s cubic-bezier(0.965, 0.025, 0.485, 0.945)
    -webkit-transition-timing-function: cubic-bezier(0.965, 0.025, 0.485, 0.945)
    -o-transition-timing-function: cubic-bezier(0.965, 0.025, 0.485, 0.945)
    transition-timing-function: cubic-bezier(0.965, 0.025, 0.485, 0.945)
    &.open
        opacity: 1
        visibility: visible
        transform: translateY(100%)

    .flex
        height: 100%

    li
        list-style: none
        padding-bottom: 0
        margin: 0 4% !important

        &:last-child
            padding-bottom: 0

        a
            text-decoration: none
            opacity: .2
            -webkit-transition: .3s
            -o-transition: .3s
            transition: .3s

            &:hover, &:focus, &:active
                opacity: .6

            &.active
                opacity: 1

#menu_toggle
    display: inline-block
    width: 28px
    height: 28px
    position: fixed
    top: 35px
    left: 35px
    z-index: 9999
    overflow: hidden
    text-align: left
    text-indent: -9999em
    -webkit-transition: color 0.2s ease-in-out
    -o-transition: color 0.2s ease-in-out
    transition: color 0.2s ease-in-out
    background: transparent
    span
        display: block
        content: ''
        width: 28px
        height: 1px
        position: absolute
        left: 0
        top: 0
        background: $black
        -webkit-transition: all 0.5s cubic-bezier(0, 0.275, 0.125, 1)
        -o-transition: all 0.5s cubic-bezier(0, 0.275, 0.125, 1)
        transition: all 0.5s cubic-bezier(0, 0.275, 0.125, 1)
        -webkit-transform-origin: 50% 0
        -ms-transform-origin: 50% 0
        transform-origin: 50% 0
        &:before, &:after
            display: block
            content: ''
            width: 28px
            height: 1px
            position: absolute
            left: 0
            top: -10px
            background: $black
            -webkit-transition: all 0.5s cubic-bezier(0, 0.275, 0.125, 1)
            -o-transition: all 0.5s cubic-bezier(0, 0.275, 0.125, 1)
            transition: all 0.5s cubic-bezier(0, 0.275, 0.125, 1)
            -webkit-transform-origin: 50% 0
            -ms-transform-origin: 50% 0
            transform-origin: 50% 0
        &:before
            top: -8px
            top: 14px
        &:after
            top: 7px
            -webkit-transform-origin: 50% 100%
            -ms-transform-origin: 50% 100%
            transform-origin: 50% 100%

    &.open
        span
            background-color: transparent !important
            top: 9px
            &:before
                top: -10px
                -webkit-transform: translateY(9px) translateX(1px) rotate(25deg)
                -ms-transform: translateY(9px) translateX(1px) rotate(25deg)
                transform: translateY(9px) translateX(1px) rotate(25deg)

            &:after
                -webkit-transform: translateY(-8px) translateX(1px) rotate(-25deg)
                -ms-transform: translateY(-8px) translateX(1px) rotate(-25deg)
                transform: translateY(-8px) translateX(1px) rotate(-25deg)

@media screen and ( min-width: 1061px )
    #menu_toggle
        visibility: hidden
        opacity: 0
        transition: .5s cubic-bezier(0.965, 0.025, 0.485, 0.945)
        -webkit-transition-timing-function: cubic-bezier(0.965, 0.025, 0.485, 0.945)
        -o-transition-timing-function: cubic-bezier(0.965, 0.025, 0.485, 0.945)
        transition-timing-function: cubic-bezier(0.965, 0.025, 0.485, 0.945)
        &.scrolled
            visibility: visible
            opacity: 1
    #menu_drawer
        &.scrolled
            top: 0
            transform: translateY(-100%)
            padding: 33px 25px
        &.open
            transform: translateY(0)

@media screen and ( max-width: 860px )
    #menu_toggle
        left: 25px
        top: 30px
    #menu_drawer
        &.open
            transform: translateY(50px)
