section.community-carousel
    .quote
        line-height: 3.45rem
        padding: 50px 0
    .said-by:before
        content: "-"
        padding-right: 5px

@media screen and (max-width: 860px)
    section.community-carousel
        .quote
            line-height: 2.45rem
            padding: 25px 0

@media screen and (max-width: 600px)
    section.community-carousel
        .quote
            line-height: 2.3rem
