section.help
    .title
        padding-bottom: 70px
    .left
        border-right: 1px solid $dark-gray
        .inner
            padding-right: 70px
    .right
        .inner
            padding-left: 70px
            margin-top: 70px
            &:first-child
                margin-top: 0

@media screen and ( max-width: 860px )
    section.help
        .title
            padding-bottom: 25px
        .left
            order: 2
            padding-bottom: 0
        .right
            padding-bottom: 50px
            .inner
                margin-top: 25px
        .left, .right
            width: 100%
            border: 0
            .inner
                padding-right: 0
                padding-left: 0
