@import "../../variables/colors"

section.intro .text
    order: 2

section.intro .image
    margin-top: -250px

section.intro .image .inner
    padding: 0 125px

section.intro .text a
    color: $dark-pink
    text-decoration: none