section.what-we-do
    .flex.grid
        // grid-gap: 75px
        grid-gap: 17%
    .text .inner
        padding-right: 7%
    .images .inner
        padding-left: 20%

@media screen and (max-width: 1200px)
    section.what-we-do
        @supports (display: grid)
            .flex.grid
                grid-gap: 25px
                img
                    width: 75px !important
                    height: 75px !important
        .images .inner
            padding-left: 25px

@media screen and ( max-width: 860px )
    section.what-we-do
        .text,.images
            width: 100%
            padding-left: 0
            padding-right: 0
            .inner
                padding-left: 0
        .images
            padding-top: 50px
            @supports (display: grid)
                .grid
                    grid-gap: 50px

@media screen and ( max-width: 480px )
    @supports (display: grid)
        section.what-we-do .images .grid
            grid-gap: 15px
