@import url("https://use.typekit.net/ygm7psi.css")

.al-fresco-font
    font-family: al-fresco, sans-serif
    font-weight: 400
    font-style: normal

.big-caslon-font
    font-family: big-caslon-fb, serif
    font-weight: 400
    font-style: normal

.big-caslon-italic-font
    font-family: big-caslon-fb, serif
    font-weight: 400
    font-style: italic

.montserrat-font
    font-family: montserrat, sans-serif
    font-weight: 400
    font-style: normal

.nobel-font
    font-family: nobel, sans-serif
    font-weight: 400
    font-style: normal
    letter-spacing: .25em

.caps-font
    font-family: nobel, sans-serif
    font-weight: 400
    font-style: normal
    letter-spacing: .25em
    text-transform: uppercase

html,
body,
.text-base
    font-size: 18px
    line-height: 30px
    letter-spacing: .02em
    font-family: montserrat, sans-serif
    font-weight: 400
    font-style: normal

.text-xs
    // 11px
    font-size: .611rem
    line-height: .911rem

.text-sm
    // 12px
    font-size: .666rem
    line-height: .999rem

.text-md
    // 14px
    font-size: .777rem
    line-height: 1.107rem

.text-lg
    // 36px
    font-size: 2rem
    line-height: 2.3rem

.text-xl
    // 45px
    font-size: 2.5rem
    line-height: 2.8rem

.text-2xl
    // 48px
    font-size: 2.666rem
    line-height: 2.999rem

.text-3xl
    // 62px
    font-size: 3.444rem
    line-height: 3.777rem

.text-4xl
    // 72px
    font-size: 4rem
    line-height: 4.333rem

.uppercase
    text-transform: uppercase

.lowercase
    text-transform: lowercase

.center-text
    text-align: center

.text-right
    text-align: right

.text-left
    text-align: left

.line-after
    position: relative
    overflow: hidden
    &:after
        content: ""
        display: inline-block
        position: absolute
        top: 50%
        left: 0
        transform: translateY(-50%)
        width: 100%
        height: 1px
        background: $black
        z-index: 0
    span
        position: relative
        z-index: 1
        padding-right: 50px