#assistance .application
    .subheadline
        margin: 0
        padding: 20px 0 60px
    .body-copy
        padding-bottom: 60px
        strong
            font-family: nobel, sans-serif
            font-weight: 400
            font-style: normal
            letter-spacing: .25em
            text-transform: uppercase

@media screen and (max-width: 860px)
    #assistance .application
        .subheadline
            padding: 20px 0 40px
        .body-copy
            padding-bottom: 40px
